.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    min-height: 36px;
    border-radius: 4px;
    font-family: 'ProximaNova', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    background: #fff;
    color: #161823;
    border: 1px solid transparent;
    user-select: none;

    & + .wrapper {
        margin-left: 16px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    text-align: center;
}

// Button types
.rounded {
    color: rgba(22, 24, 35, 0.75);
    font-weight: 700;
    font-size: 14px;
    min-width: 90px;
    height: 32px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-radius: 52px;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(22, 24, 35, 0.12);
    background-color: rgba(255, 255, 255, 1);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(254, 44, 85, 1);
    border: 1px solid rgba(254, 44, 85, 1);

    &:hover {
        border: 1px solid rgba(254, 44, 85, 1);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    background: #fff;
    color: rgb(254, 44, 85);
    border-color: rgb(254, 44, 85);

    &:hover {
        border: 1px solid rgba(254, 44, 85, 1);
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

.hasIcon {
    min-width: 110px;
    padding: 0 16px;
    height: 36px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// Button size
.small {
    min-height: 28px;
    min-width: 88px;
}

.large {
    min-height: 48px;
    min-width: 140px;
}
